*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#panel{
    width: 100%;
    height: 100%;
    background-color: rgb(216, 244, 174);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 90%;
    height: 85%;
    color: white;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
#btop{
    width: 100%;
    height: 100px;
    font-size: 20px;
    background-color: rgb(72, 118, 72);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxi{
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(111, 163, 111);
    padding: 10px 15px;
    margin: 8px;
}
#bbtm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 20px;
    height: calc(100% - 100px);
    flex-wrap: wrap;
    
}
.bubble{
    background-color: rgb(160, 216, 160);
    font-size: 25px;
    font-weight: 600;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.bubble:hover{
    background-color: rgb(90, 164, 90);
    cursor: pointer;
}
#gameover{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 800;
}
